<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Software Engineer: Jose R. Carcamo
     Date: 8/10/11
     Desc: Creates a horizontal pop-out panel menu -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../Css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../Css/HPopOutPanel.css"/>
<title>Vertical Nav</title>
</head>

<body>
  <div id="Header">
  </div>

  <div id="Body">
    <div id="NavBar">
      <ul class="nav">
        <li><a href="#">Home</a></li>
    	<li>
    	  <a href="#">Aprons</a>
    	  <ul>
    	    <li><img id="Mask" src="../Imgs/LeftBorder.png" alt=""/></li>
    	    <li><img src="../Imgs/MayanHittingBallThroughHoop.jpg" alt="Ball Player"/></li>
    	    <li><img src="../Imgs/hunabku.jpg" alt=""/></li>
    	    <li><img src="../Imgs/ChichenItza.jpg" alt="Chichenitza"/></li>
    	    <li><img src="../Imgs/ManInSerpentsMouth.jpg" alt="Serpent"/></li>
      	  </ul>
    	</li>
    	<li>
		    <a href="#">Uniforms</a>
        <ul>
          <li><img id="Mask" src="../Imgs/LeftBorder.png" alt=""/></li>
          <li><a href="http://www.google.com">
                <img src="../Imgs/MayanHittingBallThroughHoop.jpg" alt="Ball Player"/>
              </a>
          </li>
          <li><img src="../Imgs/hunabku.jpg" alt=""/></li>
          <li><img src="../Imgs/ChichenItza.jpg" alt="Chichenitza"/></li>
          <li><img src="../Imgs/ManInSerpentsMouth.jpg" alt="Serpent"/></li>
        </ul>
    	</li>
      <li>
		    <a href="#">Table Items</a>
      </li>
      <li>
		    <a href="#">Bags</a>
      </li>
      </ul>
    </div>
  </div>
</body>
</html>

